.cart {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  bottom: 50rem;
  left: 0;
  right: 0;
  width: 700rem;
  height: 80rem;
  margin: 0 auto;
  border-radius: 40rem;
  color: #fff;

  .icon {
    position: absolute;
    width: 80rem;
    bottom: -10rem;

    img {
      width: 100%;
    }
    .amount {
      position: absolute;
      background-color: #f00;
      width: 30rem;
      height: 30rem;
      color: #fff;
      border-radius: 20rem;
      right: -6rem;
      text-align: center;
    }
  }

  .totalPrice {
    display: flex;
    align-items: center;
    margin-left: 120rem;
    font-size: 36rem;
  }
  .totalPrice::before{
      content: '$ ';
  }

  .noItem {
    display: flex;
    align-items: center;
    margin-left: 120rem;
    font-size: 36rem;
    color: gray;
  }

  .btn {
    width: 200rem;
    font-size: 36rem;
    --background-color: #FCBF49;
  }
  
}