
        .add{
            font-size: 36rem;
            background-color: #FCBF49;
            border-radius: 2000rem;
        }
        .subtract{
            font-size: 36rem;
        }
        .amount{
            margin: 0 10rem;
            font-size: 32rem;
        }