
.bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  bottom: 50rem;
  left: 0;
  right: 0;
  width: 700rem;
  height: 80rem;
  margin: 0 auto;
  border-radius: 40rem;
  color: #fff;
  z-index: 9999;

  .totalPrice, .noItem {
    display: flex;
    align-items: center;
    margin-left: 40rem;
    font-size: 50rem;
  }
  .totalPrice::before{
      content: '$ ';
  }

  .btn {
    width: 200rem;
    font-size: 36rem;
    --background-color: #FCBF49;
  }
  
}